.content {
    max-width: 500px;
    margin: auto;
  }
h1
{
    text-align: center;
    color: red;
    font-size: 50px;
}
body{
    background-color: lightblue;
}
#table
{
    align-content: center;
}
#test
{
    text-align: center;
}
button{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    color: greenyellow;
}
#mophoto
{
    align-content: left;
    padding: 100px;
}
#piphoto
{
    align-content: right;
    padding: 100px;
}
